$theme-color: #ec7259;// 主题颜色
$font-size: 14px;// 基本字体大小
$title-font-size: 18px;
$color: #555555;// 默认字体颜色
$dark-background: #3f3f3f; // 深色背景
$tint-font-color: #fff; // 浅色字体颜色
$btn-default-background: #f5f5f5; // 默认按钮背景颜色
$btn-border-color: #d5d5d5;// 按钮边框颜色
$btn-blue-color: #3194d0;// 蓝色按钮颜色
$black-color: #000;

/**浮动**/
.f-left{
  float: left
}
.f-right{
  float: right
}

/**变换动画**/
.slide-toogle-enter{
  height: 0px!important;
}
.slide-toogle-enter-active{
  transition: height .3s ease-out;
}
.slide-toogle-leave-active{
  height: 0px!important;
  transition: height .3s ease-out;
}
/**按钮统一样式**/
.btn{
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: $font-size;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: $color;
    background-color: $btn-default-background;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-radius: 4px;
}
.btn.default{
    border-radius: 4px;
    box-shadow: none;
    color: $color;
    border-color: $btn-default-background;
    background: $btn-default-background;
    border-color: $btn-border-color;
    text-shadow: none;
}
.btn.blue{
  color: $tint-font-color;
  border-color: $btn-blue-color;
  background: $btn-blue-color;
}
/**列表相关样式**/
.list-item{
  position: relative;
  border-left: 3px solid transparent;
  padding: 15px 25px 15px 10px;
  text-align: left;
  font-size: $title-font-size;
  &:hover{
    cursor: pointer;
  }
  &.selected{
    border-color: $theme-color;
  }
  .setting{
    font-family: 'iconfont';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $tint-font-color;
  }
  .tips{
    min-width: 120px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    right: 0px;
    border-radius: 8px;
    border: 1px solid #ddd;
    z-index: 10;
    &::before{
      border: 10px solid transparent;
      height: 0;
      width: 0;
      border-bottom: 10px solid #fff;
      content: '';
      position: absolute;
      top: -20px;
      right: 8px;
    }
    div{
      display: block;
      color: #000;
      padding: 6px 0;
      border-bottom: 1px solid #ddd;
      &:last-child{
        border: none;
      }
    }
    a{
      display: block;
      width: 100%;
      &:hover{
        background-image: linear-gradient(to bottom, #555, #484848);
        color: $tint-font-color;
      }
    }
  }
  .name{
    color: $tint-font-color;
    overflow: hidden;
    display: block;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
$padding: 10px;

.content{
  padding: $padding 15%;
}
@media screen and (max-width: 768px) {
  .content{
    padding: $padding;
  }
}